*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: rgb(44, 63, 111) url(../imagens/fundo.png)repeat-x;
}

#container{
   /* border: 1px solid black;*/
    width: 750px;
    margin: 0 auto;
}
#topo{
     height: 150px;
     background: url(../imagens/detalhe-topo.png) no-repeat right top;
     padding-top: 25px;
    /* border: 1px solid springgreen;*/
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png)no-repeat center;
    text-indent: -3000px;/*ira retirar o titulo da tela, porem nao irar esconder do usuario, par anao gerar problemas com robos de busca em se questionar pq vc esta escondendo conteúdo do usuario*/
}
/*Barra de Navegação(MENU)*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul{
    margin-top: 30px ;
    float: left;/*è preciso aplicar tb aqui para nao perder o efeito de caixa*/
}
#topo ul li{
    float: left;   
}
#topo ul li a{
    font-size: 0.9em;
    display: block;
    padding: 0.4em 1.3em;
    background: linear-gradient(to bottom, #ffffff, #ff0000);
    margin-right: 5px;
    border: 0.5px solid rgba(253, 253, 253, 0.7);
    border-radius: 5px 5px 15px 15px;
    text-decoration: none;
    color: ;
    /*background: url(../imagens/divisor.png) no-repeat left center;*/  
}
#topo ul .primeiro a{
    /*background: none;*/
}
#topo ul a:hover{
    color: #ffffff;
    border: 1px solid red;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.inter #navegacao a#inter,
body.fotos #navegacao a#fotos{
    color: #ffffff;
    background: #de003e; 
}

#conteudo{
    background: #f5f5f5;
    margin-top: 65px;
} 
#tres-colunas #primario{
    /*border: 1px solid black;*/
    width: 265px;
    float: left;
    margin: 0 0 20px 190px;/*Para poder dar espaço para o conteudo-lateral se encaixar*/
}
#duas-colunas #primario{
    /*border: 1px solid black;*/
    width: 555px;
    float: left;
    margin: 0 0 20px 190px;/*Para poder dar espaço para o conteudo-lateral se encaixar*/
}
#uma-colunas #primario{
    /*border: 1px solid black;*/
    width: 750px;
    float: left;
    margin: 0 0 20px 0px;/*Para poder dar espaço para o conteudo-lateral se encaixar*/
}
#secundario{
   /* border: 1px solid rgb(242, 0, 0);*/
    width: 265px;
    float: left;
    margin: 0 0 20px 15px;
}
#lateral{
    /*border: 1px solid rgb(3, 32, 255);*/
    width: 175px;
    float: left;
    margin: 0 0 20px -750px;/*Para poder dar espaço para o conteudo-lateral se encaixar*/
}
.caixa{
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}
h2{
    font-size: 1.1em;
    background: #294c71;
    color: #ffffff;
    padding: 5px;
}
.destaque h3{
    text-transform: uppercase;/*Deixa o testo todo MAIUSCULO*/
    display: inline;
    font-size: 0.9em;
    padding: 3px;
    color: #e1dfdf;
    background: #de003e;
    padding: 1px;
}

.entrevista h3{
    text-transform: uppercase;/*Deixa o testo todo MAIUSCULO*/
    display: inline;
    font-size: 0.8em;
    padding: 1px;
    color: #040404;
    border: 1px solid #de003e;
}


.caixa-conteudo{
    background: #fff;
    padding: 10px;
    margin-top: 5px;
}
#container-rodape{
    background: #294c71;
    clear: both;
    padding: 20px;
    text-align: center;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #ffffff;
}

/********Menus Laterais*********/
#lateral ul a{
    font-size: 1em;
    padding: 3px;
    display: block;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #e1dfdf;
}
#lateral ul a:hover{
   color: rgb(250, 151, 144); 
   font-size: 1.1em;
   background: url(../imagens/marcador.png)no-repeat left center;
   padding-left: 25px;

}

/********Caixa News*******/
label{
    display: block;
    cursor: pointer;
}
input{
    padding: 5px;
    font-size: 0.8em;
    width: 125px;
}
input.submit{
    margin-top: 3px;
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #ffffff;
    cursor: pointer; 
    border-radius: 5px;  
}

input.submit:hover{
    /*border: 2px solid #e1dfdf;*/
    border-radius: 4px; 
    border: 3px solid #c7033a;
}

/**Formatação Imagens**/
img{
    margin-top: 10px;
    border: 2px solid #294c71;
}

img.imagem-principal{
    border: 1px solid #294c71;
    border-radius: 5px;
    width: 97%;
}

/*****Formatando a lista-noticia*****/
#lista-noticias li{
    height: 75px;
    border-bottom: 2px solid #ccc;
}
#lista-noticias li:hover{
    background: #c3cdd8;
    cursor: pointer;
}
#lista-noticias li a img{
    width: 90px;
    float: left;
    margin: 5px;   
}
#lista-noticias li a{
    text-decoration: none;
}
#lista-noticias li a h3{
    font-size: 0.8em;
    padding-top: 4px;
    color: #040404;  
}
#lista-noticias li a p{
    font-size: 0.8em;
    padding-top: 5px;
}

